.theme-switch-wrapper {
    position: relative;

    .theme-switch-content {
        position: absolute;
        top: 0;
        display: none;

        .candy-red,
        .emerald-green,
        .sapphire-blue,
        .orange {
            position: relative;
            border-radius: 0;
            outline: none;

            &:first-child {
                border-top-right-radius: var(--border-radius);
            }

            &:last-child {
                border-bottom-right-radius: var(--border-radius);
            }

            &:active {
                outline: none;
                box-shadow: none;
            }

            &:hover::after {
                content: attr(label);
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                transform: translateX(-100%);
                display: flex;
                align-items: center;
                text-wrap: nowrap;
                padding: 0 .5rem;
                border-radius: var(--border-radius) 0 0 var(--border-radius);
                background: inherit;
                opacity: 1;
            }
        }

        .candy-red {
            color: var(--candy-red);

            &:hover {
                background: rgba(var(--candy-red-rgb), .2);;
            }
        }

        .emerald-green {
            color: var(--emerald-green);

            &:hover {
                background: rgba(var(--emerald-green-rgb), .2);;
            }
        }

        .sapphire-blue {
            color: var(--sapphire-blue);

            &:hover {
                background: rgba(var(--sapphire-blue-rgb), .2);;
            }
        }

        .orange {
            color: var(--orange);

            &:hover {
                background: rgba(var(--orange-rgb), .2);;
            }
        }
    }

    &:hover {
        .theme-switch-content {
            display: block;
        }

        .theme-switch-button {
            outline: none;
        }
    }
}