@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

:root {
    --white: #fff;
    --dark-gray: #141414;
    --transparent: rgba(0, 0, 0, 0.2);
    --candy-red: rgb(165, 5, 66);
    --candy-red-rgb: 165, 5, 66;
    --emerald-green: rgb(5, 135, 67);
    --emerald-green-rgb: 5, 135, 67;
    --sapphire-blue: rgb(15, 82, 186);
    --sapphire-blue-rgb: 15, 82, 186;
    --orange: rgb(255, 115, 0);
    --orange-rgb: 255, 115, 0;

    --mark-x: 'x';
    --mark-o: 'o';

    --font-family: 'Bruno Ace SC', sans-serif;

    --background: var(--dark-gray);
    --color: var(--white);
    --accent: var(--candy-red);
    --accent-rgb: var(--candy-red-rgb);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    font-family: var(--font-family);
}

body {
    background: var(--background);
    color: var(--color);
}