@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

:root {
    --white: #fff;
    --dark-gray: #141414;
    --transparent: rgba(0, 0, 0, 0.2);
    --accent: rgb(165, 5, 66);
    --accent-rgb: 165, 5, 66;

    --mark-x: 'x';
    --mark-o: 'o';

    --font-family: 'Bruno Ace SC', sans-serif;

    --background: var(--dark-gray);
    --color: var(--white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    font-family: var(--font-family);
}

body {
    background: var(--background);
    color: var(--color);
}